<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="static/style.css">
<title> Test page </title>
</head>
<body>
<center>
    <h2> SCENE: A Scalable Two-Stage Personalized News Recommendation System</h2>
    <br><br>
    <form class="topcorner" action="/logout">
        <h2> {{ user_selected }}</h2>
        <input type="submit" value="Logout">
    </form>

    <div align="center" style="width:100%" >
    <br>
    <table class="myTable" align="center" style="width:60%">
    <tr>
        <th width="10%">id</th><th width="90%">Articles</th>
    </tr>
        {% for art in artlist %}
        <tr>
            <td style="text-align:center">{{ art[0] }} </td>
	        <td><a href="/show_article/{{ art[0] }}"> {{ art[1] }}</a></td>
        </tr>
        {% endfor %}
    </table>
    </div>

</center>
</body>
</html>