{% extends "base.html" %}
{% block content %}
<center>
    <form action="/articles">
        <input type="submit" value="Back to Articles">
    </form>

    <form action="/history">
        <input type="submit" value="{{ user_selected }}'s reading history">
    </form>
</center>

<form method="post" action="/feedback">
    <br>
    <div align="center" style="width:100%" >
        <table class="myTable" align="center" style="width:65%">
            <tr>
                <th width="10%">Category</th><th width="5%">id</th><th width="80%">
                Recommended articles for {{ user_selected }}</th><th width="5%">Preference</th>
            </tr>
            {% for cat_index in range(catlist | count) %}
                {% for art_id, title in ziplist[cat_index] %}
                <tr>
                    {% if loop.first %}
                    <td style="text-align:center" rowspan="{{ ziplist[cat_index] | count }}">
                        {{ catlist[cat_index] }}
                    </td>
                    {% endif %}
                    <td style="text-align:center">{{ art_id }}</td>
                    <td><a href="/show_article/{{ art_id }}">{{ title }}</a></td>
                    <td style="text-align:center"><input type="checkbox" name="check" value="Yes">
                    <input type="hidden" name="uncheck" value="No"></td>
                    {% endfor %}
                </tr>
            <tr>
                <td colspan="4"><hr></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    <div align="center" style="width:100%" >
        <table class="myTable" align="center" style="width:65%">
            <tr>
                <th>Diversity of recommended news list</th>
                <td><input type="radio" value="Execrable" name="radiocheck1">Execrable
                    <input type="radio" value="Below Average" name="radiocheck1">Below Average
                    <input type="radio" value="Average" name="radiocheck1">Average
                    <input type="radio" value="Above Average" name="radiocheck1">Above Average
                    <input type="radio" value="Exceptional" name="radiocheck1">Exceptional
                </td>
            </tr>
            <tr>
                <th>Ordering of recommended news articles</th>
                <td><input type="radio" value="Execrable" name="radiocheck2">Execrable
                    <input type="radio" value="Below Average" name="radiocheck2">Below Average
                    <input type="radio" value="Average" name="radiocheck2">Average
                    <input type="radio" value="Above Average" name="radiocheck2">Above Average
                    <input type="radio" value="Exceptional" name="radiocheck2">Exceptional
                </td>
            </tr>
        </table>

        <p><input type="submit" name="hello" value="Send your feedback!" align="center"></p>
    </div>

</form>
{% endblock %}

    <br>
    <div align="center" style="width:100%" >
        <table class="myTable" align="center" style="width:70%">
            <tr>
                <th>Diversity of recommended news list</th>
                <td><input type="radio" value="" name="group1">Execrable
                    <input type="radio" value="" name="group1">Below Average
                    <input type="radio" value="" name="group1">Average
                    <input type="radio" value="" name="group1">Above Average
                    <input type="radio" value="" name="group1">Exceptional
                </td>
            </tr>
            <tr>
                <th>Ordering of recommended news articles</th>
                <td><input type="radio" value="" name="group2">Execrable
                    <input type="radio" value="" name="group2">Below Average
                    <input type="radio" value="" name="group2">Average
                    <input type="radio" value="" name="group2">Above Average
                    <input type="radio" value="" name="group2">Exceptional
                </td>
            </tr>
        </table>
    </div>
