{% extends "base.html" %}
{% block content %}
<center>
    <form action="/articles">
        <input type="submit" value="Back to Articles">
    </form>

    <div align="center" style="width:100%" >
    <br>
    <table class="myTable" align="center" style="width:60%">
        <tr>
            <th colspan=2>Article #{{ text[0] }} </th>
        </tr>
        <tr>
            <th colspan=2>Title: {{ text[1] }}</th>
        </tr>
        <tr>
	        <td style="text-align:left"> {{ text[2] }}</td>
        </tr>
    </table>
    </div>
{% endblock %}
