{% extends "base.html" %}
{% block content %}
<center>
    <form action="/history">
        <input type="submit" value="{{ user_selected }}'s reading history">
    </form>

    <form action="/recommend">
        <input type="submit" value="Recommendations for {{ user_selected }}">
    </form>
</center>

<div align="center" style="width:100%" >
    <br>
    <table class="myTable" align="center" style="width:65%">
    <tr>
        <!-- <th width="10%">id</th><th width="90%">Articles</th> -->
        <th width="10%">Category</th><th width="5%">id</th><th width="85%">Articles</th>
        {% for cat_index in range(catlist | count) %}
            {% for art_id, title in ziplist[cat_index] %}
            <tr>
                {% if loop.first %}
                <td style="text-align:center" rowspan="{{ ziplist[cat_index] | count }}">
                    {{ catlist[cat_index] }}
                </td>
                {% endif %}
                <td style="text-align:center">{{ art_id }}</td>
                <td><a href="/show_article/{{ art_id }}">{{ title }}</a></td>
            </tr>
            {% endfor %}
        <tr><td colspan="3"><hr></td></tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
