{% extends "base.html" %}
{% block content %}
<center>
    <form action="/history">
        <input type="submit" value="{{ user_selected }}'s reading history">
    </form>

    <form action="/recommend">
        <input type="submit" value="Recommendations for {{ user_selected }}">
    </form>
</center>

<div align="center" style="width:100%" >
    <br>
    <table class="myTable" align="center" style="width:60%">
    <tr>
        <!-- <th width="10%">id</th><th width="90%">Articles</th> -->
        <th width="5%">Category</th><th width="5%">id</th><th width="90%">Articles</th>
    </tr>
        {% for art in artlist %}
        <tr>
            <td style="text-align:center">{{ art[0] }} </td>
            <td style="text-align:center">{{ art[1] }} </td>
	        <td><a href="/show_article/{{ art[1] }}"> {{ art[2] }}</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
